.form {
  max-width: 360px;
  margin: auto;
  &__btn {
    display: grid;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
  &__title {
    color: #344054;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  &__desc {
    color: #667085;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 56px;
  }
}

.forms {
  display: block;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__title {
    color: #344054;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
  }

  &__input {
    height: 44px;
    width: 100%;
    display: block;
    padding: 10px 14px;
    color: var(--accent-2, #667085);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    background: transparent;
  }
}
.chk {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  span {
    color: #344054;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
a {
  color: #5429ff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.btn {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  cursor: pointer;
  &._primary {
    border-radius: 8px;
    background: #5429ff;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  &._secondary {
    border-radius: 8px;
    border: 1px solid var(--accent-1, #d0d5dd);
    color: var(--secondary-color, #344054);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background: transparent;
  }
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &._center {
        justify-content: center;
        gap: 4px;
    }
}